<a href="https://colab.research.google.com/github/pallavrouth/MarketingAnalytics/blob/main/Data_wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# What is data wrangling?

Data wrangling, also known as data munging or data preprocessing, refers to the process of cleaning, transforming, and organizing raw and messy data into a structured and usable format for analysis and modeling.

It is a crucial step in the data analysis pipeline as it ensures that the data is accurate, consistent, and properly formatted before any meaningful insights can be extracted from it.

# What does it include?

**Data Collection:** Gather raw data from various sources, such as databases, files, APIs, or web scraping.

**Data Inspection**: Explore the data to understand its structure, format, and potential issues. Identify missing values, outliers, and inconsistencies.

**Data Cleaning:** Address data quality issues by handling missing values, correcting errors, and dealing with outliers. This may involve imputing missing values and removing duplicates

**Data Transformation:** This may include changing the shape of the data or converting the data types, creating new variables, aggregating data, and creating new features.

**Data Enrichment:** Enhance the dataset by adding relevant information from external sources or combining multiple datasets to gain more insights.

Tools and libraries such as Python's Pandas, NumPy, and scikit-learn are commonly used for data wrangling tasks, as they provide powerful functionalities for data manipulation, cleaning, and transformation.

# Pandas

Pandas is a popular open-source Python library used for data manipulation and analysis. It provides data structures and functions that make it easier to work with structured, tabular, and time-series data.

In [ ]:
import pandas as pd

# Data structures

Pandas **Series** and **DataFrames** are two fundamental data structures provided by the Pandas library for handling and manipulating data in Python. They are designed to work with tabular and labeled data, making it easier to perform various data analysis and manipulation tasks.

In [ ]:
# series - is a one-dimensional labeled array capable of holding any data type
# (integers, strings, floating point numbers, Python objects
customer_ages_array = pd.Series([30, 25, 28, 22, 35], index = ['Alice', 'Bob', 'Charlie', 'David', 'Eve'])
customer_ages_dict = pd.Series({'Alice':30, 'Bob': 25, 'Charlie': 28, 'David': 22, 'Eve': 35})
print(customer_ages_array)
print(customer_ages_dict)
print(type(customer_ages_dict))

# dataframe - 2-dimensional labeled data structure with columns of potentially different types.
# You can think of it like a spreadsheet or SQL table, or a dict of Series objects.
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [30, 25, 28, 22, 35],
    'Country': ['USA', 'Canada', 'UK', 'Australia', 'USA'],
    'PurchaseAmount': [100, 50, 80, 120, 90]
}

customer_data = pd.DataFrame(data)
print(customer_data)
print(type(customer_data))

Alice      30
Bob        25
Charlie    28
David      22
Eve        35
dtype: int64
Alice      30
Bob        25
Charlie    28
David      22
Eve        35
dtype: int64
<class 'pandas.core.series.Series'>
      Name  Age    Country  PurchaseAmount
0    Alice   30        USA             100
1      Bob   25     Canada              50
2  Charlie   28         UK              80
3    David   22  Australia             120
4      Eve   35        USA              90
<class 'pandas.core.frame.DataFrame'>

## Special types of variables

1. **Date time variables:** Pandas has robust support for working with datetime data. It includes specialized datetime-related data structures like Timestamp and DatetimeIndex. These allow for easy manipulation and alignment of time-based data, enabling time series analysis.

2. **Factor (categorical variables):** Categorical variables represent data that has a limited, fixed number of unique values (categories). Using categorical data types in pandas can optimize memory usage and improve performance, especially when dealing with large datasets. Categorical variables are also useful for maintaining a fixed set of labels and managing categorical data efficiently.

In [ ]:
# Creating a datetime object
date_time = pd.to_datetime("2023-10-02 15:30:00")

# Extracting components of the datetime
year = date_time.year
month = date_time.month
day = date_time.day
hour = date_time.hour
minute = date_time.minute
second = date_time.second

print(date_time)
print(year, month, day, hour, minute, second)

# Creating two datetime objects
start_time = pd.to_datetime("2023-10-02 10:00:00")
end_time = pd.to_datetime("2023-10-03 12:30:00")

# Calculating the time duration between two datetime objects
duration = end_time - start_time

print(duration)

# Sample data
data = {
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Male'],
    'Education': ['High School', 'College', 'High School', 'PhD', 'College']
}

# Create a DataFrame
df = pd.DataFrame(data)

# Convert 'Gender' column to a categorical variable
df['Gender'] = pd.Categorical(df['Gender'], categories = ['Male', 'Female'], ordered=False)

# Convert 'Education' column to a categorical variable
df['Education'] = pd.Categorical(df['Education'], categories = ['High School', 'College', 'PhD'], ordered=True)

# Display the DataFrame
print(df.dtypes)

In this course we will mainly deal with dataframes. Also we will mostly import datasets instead of creating them.

# Importing data

Pandas provides import functions for variety of file types. In this course we will mainly deal with csv files and sometimes with excel files. For csv we use `read_csv()` and for excel we use `read_excel()` function.

In [ ]:
# file path
file_path = "https://raw.githubusercontent.com/pallavrouth/MarketingAnalytics/main/datasets/transaction_transactions.csv"

# read the CSV file into a DataFrame
transactions = pd.read_csv(file_path, index_col = False)
print(transactions.head())

# to specify a particular column as index
transactions_withid = pd.read_csv(file_path, index_col = 'customer_id')
print(transactions_withid.head())

   transaction_id  product_id  customer_id transaction_date online_order  \
0               1           2         2950       25/02/2017        False
1               2           3         3120       21/05/2017         True
2               3          37          402       16/10/2017        False
3               4          88         3135       31/08/2017        False
4               5          78          787       01/10/2017         True

  order_status           brand product_line product_class product_size  \
0     Approved           Solex     Standard        medium       medium
1     Approved   Trek Bicycles     Standard        medium        large
2     Approved      OHM Cycles     Standard           low       medium
3     Approved  Norco Bicycles     Standard        medium       medium
4     Approved  Giant Bicycles     Standard        medium        large

   list_price standard_cost  product_first_sold_date
0       71.49        $53.62                  41245.0
1     2091.47       $388.92                  41701.0
2     1793.43       $248.82                  36361.0
3     1198.46       $381.10                  36145.0
4     1765.30       $709.48                  42226.0
             transaction_id  product_id transaction_date online_order  \
customer_id
2950                      1           2       25/02/2017        False
3120                      2           3       21/05/2017         True
402                       3          37       16/10/2017        False
3135                      4          88       31/08/2017        False
787                       5          78       01/10/2017         True

            order_status           brand product_line product_class  \
customer_id
2950            Approved           Solex     Standard        medium
3120            Approved   Trek Bicycles     Standard        medium
402             Approved      OHM Cycles     Standard           low
3135            Approved  Norco Bicycles     Standard        medium
787             Approved  Giant Bicycles     Standard        medium

            product_size  list_price standard_cost  product_first_sold_date
customer_id
2950              medium       71.49        $53.62                  41245.0
3120               large     2091.47       $388.92                  41701.0
402               medium     1793.43       $248.82                  36361.0
3135              medium     1198.46       $381.10                  36145.0
787                large     1765.30       $709.48                  42226.0

Sometimes, when importing pandas creates an index column. We can avoid this by setting `index_col = 0`

# Inspecting the data

After importing the dataset, the first task is to inspect the data. Inspection of the data involves

1. understanding the dimensions of the data,
2. understanding the data types for each column
3. understanding whether there are problems/issues with the data (for example, presence of missing values)

In [ ]:
# get a sneak peak into the data
print(transactions.head(), '\n') # alternatively use tail()

# get a sense of the dimensions of the data
print(transactions.shape, '\n')

# get all the names of columns
print(transactions.columns, '\n')

# get the attributes of all the columns
print(transactions.dtypes, '\n')

# get a concise summary
print(transactions.info(), '\n')

# get a count of missing values
print(transactions.isnull().sum(), '\n')

# more inspection
print(transactions['product_class'].unique(), '\n')
print(transactions['product_class'].nunique(), '\n')

# get descriptive statistics
print(transactions.describe(), '\n')

   transaction_id  product_id  customer_id transaction_date online_order  \
0               1           2         2950       25/02/2017        False
1               2           3         3120       21/05/2017         True
2               3          37          402       16/10/2017        False
3               4          88         3135       31/08/2017        False
4               5          78          787       01/10/2017         True

  order_status           brand product_line product_class product_size  \
0     Approved           Solex     Standard        medium       medium
1     Approved   Trek Bicycles     Standard        medium        large
2     Approved      OHM Cycles     Standard           low       medium
3     Approved  Norco Bicycles     Standard        medium       medium
4     Approved  Giant Bicycles     Standard        medium        large

   list_price standard_cost  product_first_sold_date
0       71.49        $53.62                  41245.0
1     2091.47       $388.92                  41701.0
2     1793.43       $248.82                  36361.0
3     1198.46       $381.10                  36145.0
4     1765.30       $709.48                  42226.0

(20000, 13)

Index(['transaction_id', 'product_id', 'customer_id', 'transaction_date',
       'online_order', 'order_status', 'brand', 'product_line',
       'product_class', 'product_size', 'list_price', 'standard_cost',
       'product_first_sold_date'],
      dtype='object')

transaction_id               int64
product_id                   int64
customer_id                  int64
transaction_date            object
online_order                object
order_status                object
brand                       object
product_line                object
product_class               object
product_size                object
list_price                 float64
standard_cost               object
product_first_sold_date    float64
dtype: object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20000 non-null  int64
 1   product_id               20000 non-null  int64
 2   customer_id              20000 non-null  int64
 3   transaction_date         20000 non-null  object
 4   online_order             19640 non-null  object
 5   order_status             20000 non-null  object
 6   brand                    19803 non-null  object
 7   product_line             19803 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             19803 non-null  object
 10  list_price               20000 non-null  float64
 11  standard_cost            19803 non-null  object
 12  product_first_sold_date  19803 non-null  float64
dtypes: float64(2), int64(3), object(8)
memory usage: 2.0+ MB
None

transaction_id               0
product_id                   0
customer_id                  0
transaction_date             0
online_order               360
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
dtype: int64

['medium' 'low' 'high' nan]

3

       transaction_id   product_id   customer_id    list_price  \
count    20000.000000  20000.00000  20000.000000  20000.000000
mean     10000.500000     45.36465   1738.246050   1107.829449
std       5773.647028     30.75359   1011.951046    582.825242
min          1.000000      0.00000      1.000000     12.010000
25%       5000.750000     18.00000    857.750000    575.270000
50%      10000.500000     44.00000   1736.000000   1163.890000
75%      15000.250000     72.00000   2613.000000   1635.300000
max      20000.000000    100.00000   5034.000000   2091.470000

       product_first_sold_date
count             19803.000000
mean              38199.776549
std                2875.201110
min               33259.000000
25%               35667.000000
50%               38216.000000
75%               40672.000000
max               42710.000000

# Data cleaning

At this stage it makes sense to correct any issues or errors that are there in the data. Addressing data issues early can make sure important operations such as creating new columns or merging datasets produce expected results. Some of the most common data cleaning steps include -

1. Addressing the presence of missing values
2. Addressing the presence of duplicated information in the dataframe
3. Renaming columns

#### Dealing with missing values

One of the most prevalent issues present in marketing datasets are missing values. These are present either due to lack of information for specific rows or due to errors in record keeping. Before attempting to manipuate data, it is crucial to come up with a strategy to deal with missing data.

In [ ]:
data = {'A': [   1, 2, None, 4],
        'B': [None, 5,    6, 7],
        'C': [  10, 9,    1, 0]}
df = pd.DataFrame(data)
print(df,'\n')

# detect missing values
print(df.isnull().sum(),'\n')

# total count
print(df.isnull().sum().sum(),'\n')

# non null values
print(df.notnull().sum(),'\n')

# removing rows with missing values for all columns
print(df.dropna(axis = 0),'\n')
# removing columns that has any missing values
print(df.dropna(axis = 1),'\n')

# removing rows with missing values for a specific column
print(df.dropna(axis = 0, subset = ["A"]),'\n')

# removing columns that have a high proportion of missing values
# df.dropna(axis = 1, thresh = len(df) * 0.8)

# filling all missing values with 0 or with mean values
print(df.fillna(0),'\n')
print(df.fillna(df.mean()),'\n')

# filling all missing values with the value before or after null
print(df.fillna(method = 'ffill'),'\n')
print(df.fillna(method = 'bfill'),'\n')

# specific values for specific columns
values = {'A': 2.0, 'B': 5.0}
print(df.fillna(value = values),'\n')

# applying this to our dataset
transactions_nonnull = transactions.dropna(axis = 0)
print(transactions_nonnull.info(),'\n')

     A    B   C
0  1.0  NaN  10
1  2.0  5.0   9
2  NaN  6.0   1
3  4.0  7.0   0

A    1
B    1
C    0
dtype: int64

2

A    3
B    3
C    4
dtype: int64

     A    B  C
1  2.0  5.0  9
3  4.0  7.0  0

    C
0  10
1   9
2   1
3   0

     A    B   C
0  1.0  NaN  10
1  2.0  5.0   9
3  4.0  7.0   0

     A    B   C
0  1.0  0.0  10
1  2.0  5.0   9
2  0.0  6.0   1
3  4.0  7.0   0

          A    B   C
0  1.000000  6.0  10
1  2.000000  5.0   9
2  2.333333  6.0   1
3  4.000000  7.0   0

     A    B   C
0  1.0  NaN  10
1  2.0  5.0   9
2  2.0  6.0   1
3  4.0  7.0   0

     A    B   C
0  1.0  5.0  10
1  2.0  5.0   9
2  4.0  6.0   1
3  4.0  7.0   0

     A    B   C
0  1.0  5.0  10
1  2.0  5.0   9
2  2.0  6.0   1
3  4.0  7.0   0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19445 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           19445 non-null  int64
 1   product_id               19445 non-null  int64
 2   customer_id              19445 non-null  int64
 3   transaction_date         19445 non-null  object
 4   online_order             19445 non-null  object
 5   order_status             19445 non-null  object
 6   brand                    19445 non-null  object
 7   product_line             19445 non-null  object
 8   product_class            19445 non-null  object
 9   product_size             19445 non-null  object
 10  list_price               19445 non-null  float64
 11  standard_cost            19445 non-null  object
 12  product_first_sold_date  19445 non-null  float64
dtypes: float64(2), int64(3), object(8)
memory usage: 2.1+ MB
None

#### Dealing with duplications

Another common issue with data is the presence of duplicates. Sometimes duplicates are created because of inaccuracies in data recording or after merging data with another datasets. It is important to constantly check for the presence of duplicate rows because it can lead to inaccurate variables.

In [ ]:
data = {'A': [1, 2, 2, 3, 4],
        'B': ['x', 'y', 'y', 'z', 'z']}
df = pd.DataFrame(data)
print(df,'\n')

# detect duplicated rows
print(df.duplicated(),'\n')

# getting rid of duplicates
print(df.drop_duplicates(),'\n')

# getting rid of duplicates but keeping the last one
print(df.drop_duplicates(keep = "last"),'\n')

# getting rid of duplicates in a specific column
print(df.drop_duplicates(subset = ["B"]),'\n')

   A  B
0  1  x
1  2  y
2  2  y
3  3  z
4  4  z

0    False
1    False
2     True
3    False
4    False
dtype: bool

   A  B
0  1  x
1  2  y
3  3  z
4  4  z

   A  B
0  1  x
2  2  y
3  3  z
4  4  z

   A  B
0  1  x
1  2  y
3  3  z

#### Renaming columns

Data acquired from secondary sources can have column names that are long or difficult to deal with. Marketing datasets are no exception. It makes sense to properly rename columns at this stage if required.

In [ ]:
transactions.rename(columns = {'transaction_date': 'date', 'standard_cost': 'scost'}).columns

### Custom classes for cleaning

In [ ]:
class CleanRoutine:
    def __init__(self, data):
        self.data = data

    def remove_missing_values(self):
        self.data = self.data.dropna()
        return self.data

    def remove_duplicates(self):
        self.data = self.data.drop_duplicates()
        return self.data

    def rename_columns(self, column_mapping):
        self.data = self.data.rename(columns = column_mapping)
        return self.data

data = {'First Name': ['Alice', 'Bob', None, 'David'],
        'Last Name': ['Smith', 'Johnson', 'Brown', None],
        'Age': [25, 30, 22, 28]}

df = pd.DataFrame(data)
print(df)

# create an instance of the DataCleaner class and perform cleaning operations
# step by step
routine = CleanRoutine(df)
routine.remove_missing_values()
routine.remove_duplicates()
routine.rename_columns({'First Name': 'FirstName', 'Last Name': 'LastName'})
clean_data = routine.data

print("\nCleaned DataFrame:")
print(clean_data)

# Data Transformation

At this stage the main task is to figure out how to change certain inherent properties of the dataset that would allow us to create new information or subset information appropriately.

### Changing the shape

Often we need to change the shape of the dataframe to "tidy" up the data. Tidy data principles promote consistency and simplicity in data organization, making data analysis more efficient and less error-prone.

**Each Variable Forms a Column:** Each variable should have its own column in the dataset. This makes it clear what each column represents and allows for easy manipulation.

**Each Observation Forms a Row:** Each observation (data point) should have its own row in the dataset. This ensures that each piece of information is clearly associated with a specific observation.

**Each Type of Observational Unit Forms a Table:** Each type of data should be stored in its own separate table. Related data should be organized together, and separate tables can be linked if needed.

In [ ]:
# example of data in wide format
customer_info = pd.read_csv("https://raw.githubusercontent.com/pallavrouth/MarketingAnalytics/main/datasets/transaction_customerinfo.csv")
customer_info.head(n = 10)

# changing the data from a wide to a long format
customer_info_long = pd.melt(customer_info,
                             id_vars = "customer_id",
                             var_name = "attribute",
                             value_name = "value")
# print(customer_info_long.head(n = 10),'\n')
customer_info_long.sort_values("customer_id").head(n = 10)

       customer_id              attribute                value
11735            1                    DOB           1953-10-12
35195            1               owns_car                  Yes
27375            1         wealth_segment        Mass Customer
15645            1                    age                 69.0
5                1                   name    Laraine Medendorp
3915             1                 gender               Female
31285            1     deceased_indicator                    N
19555            1              job_title  Executive Secretary
39105            1                 tenure                   11
23465            1  job_industry_category               Health

# Data manipulation

This is arguably the most important aspect of data wrangling. This step involves manipulating the columns and/or rows of the existing data frame to either subset data or reorganize data or generate new columns or summarize the data in ways that are crucial for testing hypothesis or answering research questions.

### Subsetting data

We can subset data by (1) selecting certain columns and (2) by filtering rows that meet certain conditions

#### Selecting colums

In [ ]:
# selecting columns using '.loc' 'customer_id', 'transaction_date' 'product_id' 'list_price' 'order_status'
# .loc[[row names]:[column names]]
# for all rows use ':'
transactions.loc[:,['transaction_date']].head() # note the difference between this and transactions.loc[:,'transaction_date'].head()
# what products did a customer buy on a specific day and how much did they spend?
transactions.loc[:,['customer_id','transaction_date','product_id','list_price','standard_cost']].head()
# selecting a range of columns
transactions.loc[:,'transaction_id':'transaction_date'].head() # notice that we do not supply a list
# if I had to select the columns that had the word product how would I do it?
columns = transactions.columns.to_list()
mask = ['product' in col for col in columns]
transactions.loc[:,mask]

#### Filtering rows

In [ ]:
# when you want to filter based on column that has numerical values
mask = transactions.list_price > 1000 # good thing is you dont need to convert list price to a list
transactions.loc[mask] # transactions.loc[mask,:] for consistency
transactions.loc[lambda d: d.list_price > 1000,:]

# when you want to filter based on column that has categorical values
transactions.loc[lambda d: d.product_class == 'medium',:]
# better to use .isin()
transactions.loc[lambda d: d.product_class.isin(['medium']),:]
transactions.loc[lambda d: d.product_class.isin(['low','medium']),:]

# multiple conditions
# satisfies both conditions - and
transactions.loc[lambda d: (d.list_price > 1000) & (d.product_class.isin(['low','medium'])),:]
print(transactions.loc[lambda d: (d.list_price > 1000) & (d.product_class.isin(['low','medium'])),:].shape)
# satisfies any one condition - or
transactions.loc[lambda d: (d.list_price > 1000) | (d.product_class.isin(['low','medium'])),:]
print(transactions.loc[lambda d: (d.list_price > 1000) | (d.product_class.isin(['low','medium'])),:].shape)

### Reorganizing data

We can reorganize data by sorting the data based on the values in one of the columns

In [ ]:
# what products did a customer buy on a specific day and how much did they spend?
transactions_subset = transactions.loc[:,['customer_id','transaction_date','product_id','list_price','standard_cost']]
transactions_organized = transactions_subset.sort_values(['customer_id'])
transactions_organized_price = transactions_organized.sort_values(['list_price'], ascending = False)
transactions_organized_price

       customer_id transaction_date  product_id  list_price standard_cost
19109         2020       01/05/2017           3     2091.47       $388.92
18170          690       04/07/2017           3     2091.47       $388.92
6783          1133       24/02/2017           3     2091.47       $388.92
16864         1492       17/12/2017           3     2091.47       $388.92
3534           685       04/07/2017           3     2091.47       $388.92
...            ...              ...         ...         ...           ...
6169          1239       22/11/2017          19       12.01         $7.21
5654          1892       04/01/2017           0       12.01         $7.21
11988          101       26/07/2017           0       12.01         $7.21
19291          150       16/10/2017          19       12.01         $7.21
9583          1545       17/06/2017          19       12.01         $7.21

[20000 rows x 5 columns]

### Generating new data or editing existing data

Sometimes we need to generate new data by combining information from existing data in the dataframe. At other times we need to edit existing data.

In [ ]:
print(type(transactions_subset.transaction_date.to_list()[0]))

<class 'str'>

#### Creating new data

In [ ]:
# method 1
transactions_subset_copy = transactions_subset.copy()
transactions_subset_copy['list_price_100'] = transactions_subset['list_price'] / 100
transactions_subset_copy

# method 2 - preferred
transactions_subset.assign(list_price_100 = lambda d: d.list_price / 100)

# custom function to entire column
import numpy as np
def Max(x):
  return np.nanmax(x)

transactions_subset.assign(max_list_price = lambda d: Max(d.list_price))

# method 3 - when you need to apply a custom function to each row of a column use 'apply' (safer option)
def Transform(x):
  step1 = x/100
  step2 = round(step1,2)
  return f"The transformed value is {step2}."

# apply a function to each row of the
transactions_subset.assign(max_list_price = lambda d: d.list_price.apply(Transform))

#### Special case - logic based data creation

Sometimes we need to create new information based on whether it satisfies certain conditions. For example, indicator variables or dummy variables require using conditions or logic.

In [ ]:
# single condition
transactions_subset.assign(ifelsecol = lambda d: np.where(d.list_price > 500,1,0))

# multiple conditions
transactions_subset.assign(ifelsecol = lambda d: np.where((d.list_price > 500) & (d.list_price < 3000),1,0))

# matching conditions
def match_condition(x):
  if x > 0 and x <= 500: return "cat1"
  elif x > 500 and x <= 1500: return "cat2"
  else: return "cat3"

transactions_subset.assign(cat_col = lambda d: d.list_price.apply(match_condition))
transactions_subset_copy.cat_col.value_counts()

#### Special case - One hot encoding

#### Groupwise data creation

Another popular special case of creating new data is when we have to edit information or create new data conditional on group membership. That is, we create create new variables using values within a group. This is true when the data has a heirarchical structure or has multiple level. This method is sometimes referred to split and apply.

In [ ]:
# what is the cumulative amount spent by each customer over time?
transactions_subset_copy_sorted = transactions_subset.sort_values('customer_id')
transactions_subset_copy_gd = transactions_subset_copy_sorted.assign(cumsum_price = lambda d: d.groupby('customer_id')['list_price'].transform('cumsum'))
transactions_subset_copy_gd

#### Editing existing information

Sometimes we need to edit existing information. This usually involves type conversion or re-casting existing data in certain formats. This type of data creation is often categorized under 'cleaning' step discussed previously.

In [ ]:
# converting strings to floats/numeric
print(type(transactions_subset.standard_cost.to_list()[0]))
float('10.45')
# float('$10.45') # error
def toFloat(x):
  if isinstance(x, str):
    float_str = x.replace('$','').replace(',','')
    return float(float_str)
  else:
    return x

transactions_subset.assign(fstandard_cost = lambda d: d.standard_cost.apply(toFloat))

# using astype in Pandas

# converting strings to floats/numeric
# print(type(transactions_subset.transaction_date.to_list()[0]))

# frequent special case - taking care of date columns
# transaction date is actually stored as string
print(type(transactions_subset.transaction_date.to_list()[0]))
# would be much better if it is stored as date type (which is unique to pandas)
transactions_subset.assign(ftransaction_date = lambda d: pd.to_datetime(d.transaction_date))

# why I prefer assign
transactions_subset.assign(list_price_100 = lambda d: d.list_price / 100,
                           ftransaction_date = lambda d: pd.to_datetime(d.transaction_date))

Another popular special case of creating new data is when we have to edit information or create new data conditional on group membership. That is, we create create new variables using values within a group. This is true when the data has a heirarchical structure or has multiple level. This method is sometimes referred to split and apply.

### Summarizing data

Sometimes we need to summarize the information from multiple rows and columns. This is particularly useful when we need to analyze the data to understand important trends. We will go more into depth in the next class.

In [ ]:
# using the tuple notation -- different agg functions to different columns
transactions_subset.groupby('customer_id', as_index = False).agg(sum_spend = ('list_price','sum'),
                                                                 avg_spend = ('list_price','mean'),
                                                                 ntransactions = ('transaction_date','nunique'))

# using the dictionary notation -- different agg functions to the same column
aggregations = {
    'list_price': {
        'sum_spend': 'sum',
        'avg_spend': 'mean',
    },
    'transaction_date': {
        'ntransactions': 'nunique'
    }
}

aggregations = {
    'list_price': ['sum','mean'],
    'transaction_date': 'nunique'
}

transactions_subset.groupby('customer_id', as_index = False).agg(aggregations)

### Method chaining

Method chaining in Pandas is a technique that involves combining multiple DataFrame or Series methods in a single statement, without the need to create intermediate variables. This approach allows you to perform a sequence of data manipulation operations more concisely and makes your code more readable.

Method chaining is possible due to the fact that most Pandas methods return a modified copy of the data, which means you can immediately apply another method on the result, and so on.

In [ ]:
# step 1: select columns
# step 2: arrange rows
# step 3: filter rows
# step 4: create new columns

updated_data = (
    transactions.loc[:,['customer_id','transaction_date','product_id','list_price','standard_cost']]
      .sort_values(['customer_id'])
      .loc[lambda d: d.list_price > 1000,:]
      .assign(list_price_100 = lambda d: d.list_price / 100,
              ftransaction_date = lambda d: pd.to_datetime(d.transaction_date))
)

updated_data.head()

# Data Augmentation

Data augmentation simply involves adding new data to the existing datasets. There are several key considerations when you consider merging multiple datasets.

First, is what column would be used to merge the datasets. There must be a common column (also called 'keys') between the datasets before merging is attempted. Second, key consideration is how to should be merged. There are primary 4 important merging tactics - inner, outer, left and right. This [page](https://pandas.pydata.org/docs/dev/user_guide/merging.html) has helpful visuals on the principles behind these 4 types of merging process

Data augmentation and data manipulation often goes hand in hand. Sometimes it makes sense to perform augmentation before manipulation. It really depends on what is more necessary.

In [ ]:
# finding common keys
print(transactions.columns)
print(transactions.shape)
print(customer_info.columns)
print(customer_info.shape)

# how to merge -- left or inner are most common
merged_data = transactions.merge(customer_info, how = 'left', on = 'customer_id')
print(merged_data.columns)
print(merged_data.shape)